/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url("./assets/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.main-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 0;
  flex: 1 0 auto;
}

aside,
main {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1rem;
}

aside {
  flex: 0.2;
}

main {
  flex: 1;
  margin-left: 250px;
  margin-right: 230px;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 74px;
  transform: scale(0.95);
  transition: transform 0.2s;
}

footer {
  background: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 1100;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
